<div class="orders-container">
  <h1>Historia zamówień</h1>

  <div class="pagination">

  </div>

  <label class="pagination">Liczba zamówień na stronie:  <input type="number"  min="1" [ngModel]="limit" (ngModelChange)="changeLimit($event)" ></label>

  <div class="pagination">
    <button class="btn btn-light" (click)="prevPage()">❰</button>

    <label><input type="number" min="1" max="{{maxNumOfPages}}" [ngModel]="currentPage" (ngModelChange)="changeCurrentPage($event)" > / {{maxNumOfPages}}  </label>
    <button class="btn btn-light"(click)="nextPage()">❱</button>
  </div>



  <table class="table">
    <tr>
      <th>Numer zamówienia</th>
      <th>Data złożenia</th>
      <th>Zawartość zamówienia</th>
      <th>Status realizacji</th>
      <th>Wartość brutto</th>
    </tr>

    <tr *ngFor="let order of orderList" app-single-order [order]="order">
    </tr>

  </table>


</div>
