<details>
  <summary>
    <div class="btn btn-primary">
      Filtruj
    </div>
    <div class="details-modal-overlay"></div>
  </summary>
  <div class="details-modal">
    <div class="details-modal-close">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L5.58579 7L0.292893 12.2929C-0.0976311 12.6834 -0.0976311 13.3166 0.292893 13.7071C0.683417 14.0976 1.31658 14.0976 1.70711 13.7071L7 8.41421L12.2929 13.7071C12.6834 14.0976 13.3166 14.0976 13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929L8.41421 7L13.7071 1.70711Z" fill="black" />
      </svg>
    </div>
    <div class="details-modal-title">
      <h1>Wybierz filtry</h1>
    </div>
    <div class="details-modal-content">

      <form [formGroup]="form" (ngSubmit)="submit()" class="form size-form">
        <div class="form-cont">

          <div>
            <label for="nameInput">Nazwa</label>
            <input type="text" class="form-control" id="nameInput" formControlName="nameInput">
          </div>

          <div>
            <label class="my-1 mr-2" for="typeInput">Typ</label>
            <select class="custom-select " id="typeInput" formControlName="typeInput">
              <option selected>Wybierz...</option>
              <option *ngFor="let cat of categoriesArray" value="{{cat}}">{{cat}}</option>
            </select>
          </div>

          <div>
            <label class="my-1 mr-2" for="sizeInput">Rozmiar</label>
            <select class="custom-select" id="sizeInput" formControlName="sizeInput">
              <option selected>Wybierz...</option>
              <option *ngFor="let size of sizesArray" value="{{size}}">{{size}}</option>
            </select>
          </div>

          <div>
            <label class="my-1 mr-2" for="genderInput">Dla kogo:</label>
            <select multiple class="form-control" id="genderInput" formControlName="genderInput">
              <option *ngFor="let gender of gendersArray" value="{{gender}}">{{gender}}</option>
            </select>
          </div>


          <div>
            <label for="priceMinInput">Cena min:</label>
            <input type="number" class="form-control" id="priceMinInput" min="0" max="1000000" formControlName="priceMinInput">

          </div>
          <div>
            <label for="priceMaxInput">Cena max:</label>
            <input type="number" class="form-control" id="priceMaxInput" min="0" max="1000000" formControlName="priceMaxInput">
          </div>

        </div>
        <button type="submit" class="btn btn-primary mb-2">Filtruj</button>
      </form>

    </div>
  </div>
</details>
