<div class="card" style="width: 21rem; height: 500px">
  <div class="card-body">
    <img src="{{item.imageURL}}">
    <h5 class="title">
      <span class="card-text">{{item.name}}</span>
      <span class="card-text">{{item.price.toFixed(2)}} zł</span>
    </h5>
    <p class="card-text">{{item.description}}</p>
    <p class="card-text">Rozmiar: {{item.size}}</p>
    <p class="card-text">Dostępne: {{quantity}} szt.</p>
  </div>
  <button (click)="addToCart()" class="btn btn-primary btn-center">Dodaj do koszyka</button>
</div>
