.list-container> *{
  display: flex;
}
.container>*{
  padding-bottom: 20px;
}

.product-list{
  display: flex;
  flex-flow: row wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
}

.btn-center{
  position: absolute;
  left: 0;
  right: 0;
}
